{% extends "index.html" %}
{% block content %}

<table class="table text-center">
        <thead>
          <tr>
            <th>State Name</th>
            <th>Helpline Number</th>
          </tr>
        </thead>
        <tbody>

      <style>

      th,td{
      border-color: black !important;
      border: 2px solid black;
      tr {
       border: 5px dotted #4c4c4c;
      }
      }
      </style>
      {% for data_value in data.data.contacts.regional%}
      <tr> 
        <td scope="row">{{data_value.loc}}</td>
        <td>{{data_value.number}}</td>
      </tr>
      {% endfor %}
      {% endblock %}      
</body>
</html>










